body {
  font-family: sans-serif;
  background: #C7E3D0;
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

input{
  font-size: inherit;
}

ul li{
  list-style: none;
}

#ecoapp{
  background: #fff;
}

#ecoapp:after{
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}

#main{
  display: none;
}

#expense{
  float: left;
  width: 70%;
  border: 1px solid;
}

#info-bar{
  float: left;
  width: 20%;
  border: 1px solid;
}

.clearfix:after{
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}

#date-list label{
}

#date-list input{
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#date-list input.remark{
  width: 15em;
}
#date-list input.price{
  width: 15em;
}

div.remark{
  display: inline-block;
  width: 15em;
}

div.price{
  display: inline-block;
  width: 15em;
}

#expense-list li .edit{
  display: none;
}

#expense-list li.editting .view{
  display: none;
}



/* 以下、サンプル用 */
#position_sample{
  position: relative;
}

#box1{
  position: fixed;
  border: 1px solid;
}

#box2{
  border: 1px solid;
}

#box-sample{
  background-color: #B4D543;
}

#box3{
  width: 100px;
  float: left;
  border: 1px solid;
}

#box4{
  width: 100px;
  border: 1px solid;
}
