<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-i">
  <title>backboneサンプル</title>
  <link rel="stylesheet" href="stylesheets/todos.css"></link>
  <script src="javascripts/vendor/json2.js"></script>
  <script src="javascripts/vendor/jquery-1.7.2.js"></script>
  <script src="javascripts/vendor/underscore.js"></script>
  <script src="javascripts/vendor/backbone.js"></script>
  <!--script src="javascripts/backbone-localstorage.js"></script-->
  <script src="javascripts/my.js"></script>
</head>

<body>
  <div id="expenseapp">
    <header>
      <h1>eco</h1>
    </header>

    <section id="main">
      <ul>
        <li class="new_expense">
          <div class="new_date">7/11</div>
          <div class="new_remark"><input type="text" class="new_remark_field"/></div>
          <div class="new_price"><input type="text" class="new_price_field"/></div>
        </li>
        <ul>
        <li class="expense_item">
          <div class="remark">食費</div>
          <div class="price">1,000円</div>
        </li>
        <li class="expense_item">
          <div class="remark">酒</div>
          <div class="price">1,100円</div>
          <div class="total">2,100円</div>
        </li>
        </ul>
        <ul id="expense_list"></ul>
      </ul>
    </section>

  <!-- template -->
  <script type="text/template" id="item-template">
    <li class="expense_item">
      <div class="remark"><%= remark %></div>
      <div class="price"><%= price %>円</div>
      <a class="destroy"></a>
    </li>
    <!--input class="edit" type="text" value="<%= remark %>" /-->
  </script>

  </div>
</body>

</html>
