<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-i">
  <title>backboneサンプル</title>
  <link rel="stylesheet" href="stylesheets/todos.css"></link>
  <script src="javascripts/vendor/json2.js"></script>
  <script src="javascripts/vendor/jquery-1.7.2.js"></script>
  <script src="javascripts/vendor/underscore.js"></script>
  <script src="javascripts/vendor/backbone.js"></script>
  <!--script src="javascripts/backbone-localstorage.js"></script-->
  <script src="javascripts/my.js"></script>
</head>

<body>
  <div id="expenseapp">
    <header>
      <h1></h1>
      <select id="selectdate">
      </select>
      <input id="remark" type="text">
      <input id="price" type="text">
      <!--input id="new-todo" type="text" placeholder="please input me!"-->
    </header>

    <section id="main">
      <ul>
        <li>
          <div id="target_date">7/1</div>
          <div><input id="remark" type="text">
          <div><input id="price2" type="text">
        </li>
        <ul>
          <li>
            <div style="width: 100px; float: left;">食費</div>
            <div>1,000円</div>
          </li>
          <li>
            <div style="width: 100px; float: left;">酒</div>
            <div>1,100円</div>
          </li>
        </ul>
        <li>7/2</li>
      </ul>

      <ul id="expense-list"></ul>
      <div id="yama"></div>
    </section>

  <!-- template -->
  <script type="text/template" id="item-template">
    <div class="view">
      <label><%= display_date %></label>
      <label><%= remark %></label>
      <label><%= price %></label>
      <a class="destroy"></a>
    </div>
    <input class="edit" type="text" value="<%= remark %>" />
  </script>

  </div>
</body>

</html>
